.container {
    color:white;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0, 0.5);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    backdrop-filter: blur(5px);
}

.logoContainer {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.logo {
    width: 50px;
}

.linksContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.linksContainer > * {
    font-size: 14px;
    font-weight: 500;
    background: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f2f2d;
    padding: 5px;
    color:white;
    border-radius: 10px;
}

.linksContainer > *:hover{
    cursor: pointer;
    transition-duration: 300ms;
    background: #fefefe;
    scale: 1.05;
    color:black;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 3px;
}