.container{
    display: grid;
    grid-template-columns: 40% 40% 10% 10%;
    background: #fefefe;
    padding: 10px;
    margin: 10px;
    border-radius:15px;
}

.delBtn{

}

.delBtn:hover{
    transition-duration: 300ms;
    color: #cc1a1a;
    cursor: pointer;
}